@model ScheduSquad.Models.Availability

<tr role="row" data-availability-id=@Model.Id>
    <td role="cell"> @Model.DayOfWeek</td>
    <td role="cell"> @Model.StartTime</td>
    <td role="cell"> @Model.EndTime</td>
    <td role="cell">
        <button class="btn btn-primary edit-button" data-availability-id=@Model.Id>Edit</button>
        <button class="btn btn-primary delete-button" data-availability-id=@Model.Id>Delete</button>
    </td>
</tr>

