@model AvailabilityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Member Availability Page";
}

<br />
<br />
<p>Availabilities</p>
<table class="table table-bordered table-responsive table-hover">
    <tr role="row">
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <div class="availabilityChart"></div>
    @foreach (ScheduSquad.Models.Availability a in Model.availabilities)
    {
        Html.RenderPartial("AvailabilityReadRow", a);
    }
    </div>
</table>

<p id="editRow">
    <label>This is a test</label>
</p>

<script>
    $(document).ready(function () {

        $('.edit-button').click(function () {
            var availId = $(this).data('availability-id');
            //Ajax call to get edit row Availability/AvailabilityEditRow(availId)
            $.ajax({
                url: '@Url.Action("GetAvailabilityEditRow")',
                type: "GET",
                data: {'availabilityId' : availId}
            }).done(function(result) {
                $('#'+availId).html(result);
            });
            //find edit button row and replace with Ajax result and define click functions
        });

        $('.save-button').click(function () {
            var availId = $(this).data('availability-id');
            var startTime = $(this).data('start-hour') +":" + $(this).data('start-minute');
            //Ajax call to get edit row Availability/AvailabilityEditRow(availId)
            @* $.ajax({
                url: '@Url.Action("GetAvailabilityEditRow")',
                type: "GET",
                data: {'availabilityId' : availId}
            }).done(function(result) {
                $('#'+availId).html(result);
            }); *@
            //find edit button row and replace with Ajax result and define click functions
        });

        $(document).on('click', '.save-button', function(){ 
            var availId = $(this).data('availability-id');
            var startTime = $(this).data('start-hour') +":" + $(this).data('start-minute');
        });
    });


</script>