@model AvailabilityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Member Availability Page";
}

<br />
<br />
<p>Availabilities</p>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr role="row">
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ScheduSquad.Models.Availability a in Model.availabilities)
        {
            Html.RenderPartial("AvailabilityReadRow", a);
        }
        <tr role="row">
            <td role="cell">
                <button class="btn btn-primary add-button" data-availability-id="00000000-0000-0000-0000-000000000000">+ Add</button>
            </td>
        </tr>
    </tbody>
</table>

<p>
<table id="editRow">

</table>
</p>

<script>
    $(document).ready(function () {

        ////////// Add ////////
        $('.add-button').click(function () {
            
            var availId = $(this).data('availability-id');
            let that = $(this);
            let row = that.closest("tr");

            //Ajax call to get add row Availability/AvailabilityEditRow(availId)
            $.ajax(
                {
                    url: '@Url.Action("GetAvailabilityEditRow")',
                    type: "GET",
                    data: { 'availabilityId': availId }
                }).done(function (result) {
                    that.closest("tr").replaceWith(result);

                    $('#saveButton').on('click', function(){
                        var availId = $(this).data('availability-id');

                        var startHour = $('#startHour option:selected').text();
                        var startMinute = $('#startMinute option:selected').text();
                        var startTime =  startHour + ":" + startMinute;
                        
                        var endHour = $('#endHour option:selected').text();
                        var endMinute = $('#endMinute option:selected').text();
                        var endTime =  endHour + ":" + endMinute;

                        var day = $('#dayList').val();

                        var availability = {
                            Id: availId,
                            IsDeleted: false,
                            DayOfWeek: day,
                            StartTime: startTime,
                            EndTime: endTime,
                        };

                        $.ajax(
                            {
                                url: 'Availability/SaveAvailability',
                                type: "POST",
                                data: availability
                            }).done(function (result) {
                                location.reload();
                            });
                    });

                    $('#cancelButton').on('click', function(){
                        location.reload();
                    });
                });
                
        });



        ////////// Edit ////////
        $('.edit-button').click(function () {
            var availId = $(this).data('availability-id');
            let that = $(this);
            let row = that.closest("tr");
            //Ajax call to get edit row Availability/AvailabilityEditRow(availId)
            $.ajax(
                {
                    url: '@Url.Action("GetAvailabilityEditRow")',
                    type: "GET",
                    data: { 'availabilityId': availId }
                }).done(function (result) {
                    that.closest("tr").replaceWith(result);

                    $('#saveButton').on('click', function(){
                        var availId = $(that).data('availability-id');

                        var startHour = $('#startHour option:selected').text();
                        var startMinute = $('#startMinute option:selected').text();
                        var startTime =  startHour + ":" + startMinute;
                        
                        var endHour = $('#endHour option:selected').text();
                        var endMinute = $('#endMinute option:selected').text();
                        var endTime =  endHour + ":" + endMinute;

                        var day = $('#dayList').val();

                        var availability = {
                            Id: availId,
                            IsDeleted: false,
                            DayOfWeek: day,
                            StartTime: startTime,
                            EndTime: endTime,
                        };

                        $.ajax(
                            {
                                url: 'Availability/SaveAvailability',
                                type: "POST",
                                data: availability
                            }).done(function (result) {
                                location.reload();
                            });
                    });
                    $('#cancelButton').on('click', function(){
                        location.reload();
                        });
             });
                
        });

        ////////// Delete ////////
        $('.delete-button').click(function () {
            var availId = $(this).data('availability-id');

            var availabilityToDelete = {
                Id: availId,
                IsDeleted: true,
                DayOfWeek: 1,
                StartTime: "00:00",
                EndTime: "00:00",
            };

            $.ajax(
                {
                    url: 'Availability/DeleteAvailability',
                    type: "POST",
                    data: availabilityToDelete
                }).done(function (result) {
                    location.reload();
                });
        });

        ////////// Save ////////
        function SaveAvailability(button) {

            var availId = $(this).data('availability-id');
            var startTime = $(this).data('start-hour') + ":" + $(this).data('start-minute');
            var endTime = $(this).data('end-hour') + ":" + $(this).data('end-minute');
            var day = $(this).data('day-list');

            var availability = {
                Id: availId,
                IsDeleted: false,
                DayOfWeek: day,
                StartTime: startTime,
                EndTime: endTime,
            };

            $.ajax(
                {
                    url: 'Availability/SaveAvailability',
                    type: "POST",
                    data: availability
                }).done(function (result) {
                    location.reload();
                });
        }

        
    });
    


</script>