    <footer class="footer" style="position: absolute; bottom: 0; width: 100%; height: 60px; background-color: #E3F2FD;">
         <div class="container">
            <div class="row col-md-12">
                <div class="col-md-12 mt-2 mb-2 text-center">
                    <p>CMSC 495 (May 2024) - Prof. Castillo - Duncan Clark, David Hilbmann, &  Cara Perez</p>
                </div>
            </div>
        </div>
    </footer>