    <footer class="footer fixed-bottom py-3" style="background-color: #E3F2FD">
         <div class="container">
            <div class="row col-md-12">
                <div class="col-md-12 mt-2 mb-2 text-center">
                    <p>CMSC 495 (May 2024) - Prof. Castillo - Duncan Clark, David Hilbmann, &  Cara Perez</p>
                </div>
            </div>
        </div>
    </footer>