<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - ScheduSquad.Web</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScheduSquad.Web.styles.css" asp-append-version="true" />
</head>

<body>

    <header class="navbar navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft"
                aria-controls="offcanvasLeft">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle fa-lg"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- Account  panel content goes here -->
                        <li><button id="logout-btn" class="dropdown-item">Logout</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLeftLabel">Squad Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @await Component.InvokeAsync("SquadMenu")
            
        </div>
    </div>

    <main class="container mt-4">
        @RenderBody()
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $('#hamburger-menu').click(function () {
                $('body').toggleClass('menu-open');
            });

            $('#user-menu').click(function (event) {
                var menu = $('#context-menu');
                if (menu.css('display') === 'block') {
                    menu.css('display', 'none');
                } else {
                    menu.css('display', 'block');
                }
                event.stopPropagation(); // Prevent bubbling up to document click
            });

            $(document).click(function (event) {
                var menu = $('#context-menu');
                if (menu.css('display') === 'block' && !menu.is(event.target) && menu.has(event.target).length === 0) {
                    menu.css('display', 'none');
                }
            });

            $('#logout-btn').click(function () {
                // Perform logout POST request
                var form = $('<form>');
                form.attr('method', 'POST');
                form.attr('action', '/Account/Logout');
                $('body').append(form);
                form.submit();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>