<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - ScheduSquad.Web</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScheduSquad.Web.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body>

    <header class="navbar navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft"
                aria-controls="offcanvasLeft">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-end">
                @await Component.InvokeAsync("ProfileMenu")
            </div>
        </div>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel" style="overflow: visible;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLeftLabel">Squad Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @await Component.InvokeAsync("SquadMenu")
            
        </div>
    </div>

    <main class="container mt-4">
        @RenderBody()
    </main>

   
    <script>
        $(document).ready(function () {
            $('#hamburger-menu').click(function () {
                $('body').toggleClass('menu-open');
            });

           
            $(document).click(function (event) {
                var menu = $('#context-menu');
                if (menu.css('display') === 'block' && !menu.is(event.target) && menu.has(event.target).length === 0) {
                    menu.css('display', 'none');
                }
            });

       
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>