<!DOCTYPE html>
<html lang="en" style="position: relative; min-height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - ScheduSquad.Web</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/StaticFiles/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/StaticFiles/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/StaticFiles/favicon.ico">
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/StaticFiles/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/StaticFiles/js/site.js"></script>
    <script src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>
</head>

<body style="margin-bottom: 60px;">

    <header class="navbar navbar-light" style="background-color: #E3F2FD">
        <div class="container">
            <div class="row col-md-12">
                <div class="col-md-4 mt-2">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
                        <span class="fa-solid fa-bars"></span>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <a asp-action="Index" asp-controller="Home"><img src="~/StaticFiles/images/ScheduSquad_Logo_NoBorder.png" style="height: 50px;" class="img-fluid"  /></a>
                </div>
                <div class="col-md-4">
                    <div class="mt-2 d-flex justify-content-end">
                        @await Component.InvokeAsync("ProfileMenu")
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel"
        style="overflow: visible;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLeftLabel">Squad Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @await Component.InvokeAsync("SquadMenu")

        </div>
    </div>

    <main class="container mt-4">
        @RenderBody()
    </main>

    <partial name="_Footer.cshtml">

    <script>
        $(document).ready(function () {
            $('#hamburger-menu').click(function () {
                $('body').toggleClass('menu-open');
            });


            $(document).click(function (event) {
                var menu = $('#context-menu');
                if (menu.css('display') === 'block' && !menu.is(event.target) && menu.has(event.target).length === 0) {
                    menu.css('display', 'none');
                }
            });


        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>