@model CreateAccountViewModel

@{
    ViewData["Title"] = "Create Account";
    Layout = "~/Views/Shared/_UnauthLayout.cshtml";
}



@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
<div class="container mt-5">
    <div class="row  justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="~/StaticFiles/images/ScheduSquad_Logo_WhiteBorder.png" class="img" />
        </div>
        <form method="post">
            <h1>Create Account</h1>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="FirstName" value="@Model.FirstName"
                    required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="LastName" value="@Model.LastName" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="Email" value="@Model.Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="Password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
            </div>
            <div data-mdb-alert-init class="alert d-none" role="alert" data-mdb-color="warning" id="password-alert">
                <ul class="list-unstyled">
                    <li class="requirements length">
                        Your password must be at least 8 characters long.
                    </li>
                    <li class="requirements capital-letter">
                        Your password must contain at least one capital letter.
                    </li>
                    <li class="requirements little-letter">
                        Your password must contain at least one lowercase letter.
                    </li>
                    <li class="requirements number">
                        Your password must contain at least one number.
                    </li>
                    <li class="requirements special-character">
                        Your password must contain at least one special character (?!#$%&).
                    </li>
                </ul>
            </div>
            <div data-mdb-alert-init class="alert d-none" role="alert" data-mdb-color="warning" id="confirm-password-alert">
                <ul class="list-unstyled">
                    <li class="match-requirement">
                        Your passwords must be identical.
                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary d-none" id="create-button">Create Account</button>
        </form>
    </div>
</div>

@section scripts {
    <script>
        addEventListener("DOMContentLoaded", (event) => {
            const password = document.getElementById("password");
            const confirmPassword = document.getElementById("confirmPassword");
            const passwordAlert = document.getElementById("password-alert");
            const confirmPasswordAlert = document.getElementById("confirm-password-alert");
            const createButton = document.getElementById("create-button");
            const requirements = document.querySelectorAll(".requirements");
            const length = document.querySelector(".length");
            const capitalLetter = document.querySelector(".capital-letter");
            const lowercaseLetter = document.querySelector(".little-letter");
            const number = document.querySelector(".number");
            const specialCharacter = document.querySelector(".special-character");
            const matchRequirement = document.querySelector(".match-requirement");
            let isPasswordValid = false;

            password.addEventListener("focus", () => {
                passwordAlert.classList.remove("d-none");
            });

            password.addEventListener("input", () => {
                const value = password.value;
                const isLengthValid = value.length >= 8;
                const hasUpperCase = /[A-Z]/.test(value);
                const hasLowerCase = /[a-z]/.test(value);
                const hasNumber = /\d/.test(value);
                const hasSpecialChar = /[?!#$%&]/.test(value);

                length.classList.toggle("d-none", isLengthValid);
                capitalLetter.classList.toggle("d-none", hasUpperCase);
                lowercaseLetter.classList.toggle("d-none", hasLowerCase);
                number.classList.toggle("d-none", hasNumber);
                specialCharacter.classList.toggle("d-none", hasSpecialChar);

                isPasswordValid = isLengthValid && hasUpperCase && hasLowerCase && hasNumber && hasSpecialChar;
            });

            password.addEventListener("blur", () => {
                passwordAlert.classList.add("d-none");
            });

            confirmPassword.addEventListener("focus", () => {
                confirmPasswordAlert.classList.remove("d-none");
            });

            confirmPassword.addEventListener("input", () => {
                const value = password.value;
                const confirmedValue = confirmPassword.value;
                const match = (value === confirmedValue);

                matchRequirement.classList.toggle("d-none", match);
                createButton.classList.toggle("d-none", !(match && isPasswordValid));
            });

            confirmPassword.addEventListener("blur", () => {
                confirmPasswordAlert.classList.add("d-none");
            });
        });
    </script>
}