@model CreateAccountViewModel

@{
    ViewData["Title"] = "Create Account";
    Layout = "~/Views/Shared/_UnauthLayout.cshtml";
}



@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
<div class="container mt-5">
    <div class="row  justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="~/StaticFiles/images/ScheduSquad_Logo_WhiteBorder.png" class="img" />
        </div>
        <form method="post">
            <h1>Create Account</h1>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="FirstName" value="@Model.FirstName"
                    required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="LastName" value="@Model.LastName" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="Email" value="@Model.Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="Password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
</div>