@model IEnumerable<SquadMenuItem>

<h2>My Squads</h2>

@if (Model.Count() > 0) {
    <div>
        <ul>
            @foreach (SquadMenuItem s in Model) {
                <li>
                    <a asp-action="Details" asp-controller="Squad" asp-route-id="@s.Id.ToString()">@s.SquadName
                        @if (s.IsSquadmaster) {<span><i class="fa-solid fa-crown"></i></span>}

                    </a>                  
                </li>
            }
        </ul>
    </div>
} else {
    <div>You aren't in any squads.</div>
}
<hr />
@Html.ActionLink("Create a Squad", "Create", "Squad") or @Html.ActionLink("Find a Squad", "Find", "Squad") 